<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>news_xkx</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ValidateCode</servlet-name>
    <servlet-class>com.newcapec.edu.web.ValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCode</servlet-name>
    <url-pattern>/validateCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.newcapec.edu.web.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.newcapec.edu.web.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeUserServlet</servlet-name>
    <servlet-class>com.newcapec.edu.web.ChangeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserServlet</servlet-name>
    <url-pattern>/ChangeUserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>News_Filter</filter-name>
    <filter-class>com.newcapec.edu.filter.News_Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>News_Filter</filter-name>
    <url-pattern>/page/*</url-pattern>
  </filter-mapping>
</web-app>